html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  h1{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }

  .parrafo1{
    font-size:xx-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    text-align: center;
    color: #125266;
  }

  
  #root {
    height: 100%;
  }
  
  div {
    box-sizing: border-box;
  }
  
  header, footer {
    background-color: #51aecd;
    color: #fff;
    padding: 10px;
    text-align: center;
    align-items: center;
    padding: 20px;
  }
  .auth-buttons {
    display: flex;
    justify-content: flex-end;
    align-items:center;
  }
  
  
  .signup-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: 10px;;
    border-radius: 3px;
    margin-left: 10px;
    cursor: pointer;
  }
  .login-button{
    background-color: #071e92;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    margin-left: 50px;
    cursor: pointer;
  }
  
  .signup-button {
    background-color: #0e657f;
  }
  
  .main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  }
  
  .left-menu {
    flex: 1;
    background-color: #898080;
    flex-direction: column;
  }
  .menu-button-1 {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 60px;
    margin-bottom: 12px;
    cursor: pointer;
  }

  .menu-button-2 {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 60px;
    margin-bottom: 12px;
    cursor: pointer;
  }

  .menu-button-3 {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 60px;
    margin-bottom: 12px;
    cursor: pointer;
  }
  
  .center-content {
    flex: 3;
  }
  
  .right-menu {
    flex: 1;
    background-color: #8a8686;
  }

  .slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 500px;
  }
  
  .slider-container {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transition: transform 0.5s ease-in-out;
  }
  
  .slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }